@keyframes left-to-pos {
  0% {
    transform: translateX(-100%); /* Start offscreen to the left */
    opacity: 0; /* Start as invisible */
  }
  100% {
    transform: translateX(0); /* Move to its normal position */
    opacity: 1; /* Become fully visible */
  }
}

@keyframes error-light-flicking {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  20% {
    opacity: 0.8;
    transform: scale(1.02);
  }
  40% {
    opacity: 0.6;
    transform: scale(0.98);
  }
  60% {
    opacity: 0.4;
    transform: scale(1.02);
  }
  80% {
    opacity: 0.8;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.left-to-pos {
  animation: left-to-pos 0.5s ease-out;
}

.error-light {
  animation: error-light-flicking 1s infinite !important;
}
